nav {
  height: 64px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  display: fixed;
}

.nav-title {
  margin: 0 0 0 10px;
  height: 100%;
  padding-top: 15px;
}
